---
import AuthLayout from "../layouts/AuthLayout.astro";
---

<AuthLayout title="login">
  <div class="flex justify-center self-center z-10">
    <div class="p-12 bg-white mx-auto rounded-2xl w-100">
      <div class="mb-4">
        <h3 class="font-semibold text-2xl text-gray-800">Ingresar</h3>
      </div>

      <form id="login-form" class="space-y-5">
        <div class="space-y-2">
          <label class="text-sm font-medium text-gray-700">Email</label>
          <input class="w-full px-4 py-2 border rounded-lg"
            type="email" name="email" required />
        </div>

        <div class="space-y-2">
          <label class="text-sm font-medium text-gray-700">Password</label>
          <input class="w-full px-4 py-2 border rounded-lg"
            type="password" name="password" required />
        </div>

        <div class="flex justify-between">
          <a href="/register" class="text-green-400">
            ¿No tienes cuenta?
          </a>
        </div>

        <button type="submit" id="btn-submit"
          class="w-full bg-green-400 text-white p-3 rounded-full cursor-pointer disabled:bg-gray-400">
          Ingresar
        </button>
      </form>
    </div>
  </div>
</AuthLayout>

<script>
  import { actions } from "astro:actions";
  import Swal from "sweetalert2";

  const form = document.querySelector("#login-form") as HTMLFormElement;
  const btnSubmit = document.querySelector("#btn-submit") as HTMLButtonElement;

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    btnSubmit.disabled = true;

    const formData = new FormData(form);
    const email = formData.get("email") as string;
    const password = formData.get("password") as string;

    const { error } = await actions.auth.loginUser({ email, password });

    if (error) {
      Swal.fire({
        icon: "error",
        title: "Error",
        text: error.message
      });
      btnSubmit.disabled = false;
      return;
    }

    window.location.replace("/protected");
  });
</script>